@{
    //ViewBag.Title = "BritgeRedirect";
    Layout = "~/Areas/Transactions/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="divContenidoRedirect" data-sequence="@ViewBag.sequence">

</div>
<script src="~/Areas/Transactions/Scripts/Redirect/Redirect.js"></script>
@*@Scripts.Render("~/bundles/Transactions/Redirect/Redirect")*@
