
@{
    Layout = null;
}
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="modalheader" class="modal-header claro-modal-cabecera-panel">
</div>

<div id="modalbody" class="modal-body col-md-12">
    <div align="center"><img src="~/Images/loading2.gif" width="25" height="25" /> Cargando .... </div>
</div>

<div id="modalfooter" class="modal-footer">
</div>