@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Transactions/Views/Shared/_Layout.cshtml";
} 

<h2>DETALLE DE LLAMADAS ENTRANTES</h2>
<a href="http://localhost:37738/Transactions/Redirect/BritgeRedirect?secuencia=D2DA402FE73EAF92" target="_blank">HFC</a> &nbsp;|&nbsp;
<a href="http://localhost:37738//Transactions/Redirect/BritgeRedirect?secuencia=B31FC5E7768EE909" target="_blank">LTE</a>

<h2>SIACU CLARO</h2>
<br /><br /> 
<a href="javascript:void(0);" id="ShowPostPago">Llamadas Salientes No Facturadas - Postpago</a>
<br /><br />
<a href="javascript:void(0);" id="ShowPrePago">Llamadas Entrantes - Prepago</a>
<br /><br />
<br /><br />
<a href="javascript:void(0);" id="ShowChangeNumberHFC">Cambio de Número HFC</a>
<br />
<a href="javascript:void(0);" id="ShowPostpaidTypeChange">Cambio tipo cliente</a>
<hr />
<a href="javascript:void(0);" id="ShowPrepaidBilledOutCallDetails">Detalle de Llamadas Salientes Facturado - Prepago</a> 
<br/>
<a href="javascript:void(0);" id="ShowPostpaidBilledOutCallDetails">Detalle de Llamadas Salientes Facturado - Postpago</a> 
<br />
<a href="javascript:void(0);" id="ShowHFCExternalInternalTransfer">Traslado Interno / Externo HFC</a>
<br />
<a href="javascript:void(0);" id="ShowLTEExternalInternalTransfer">Traslado Interno / Externo LTE</a>
<br />
<a href="javascript:void(0);" id="ShowurlHFCBilledCallsDetail">Detalle de Llamada Saliente - HFC Facturado</a><br />
<br />
<a href="javascript:void(0);" id="ShowurlLTEBilledCallsDetail">Detalle de Llamada Saliente - LTE Facturado</a><br />

<br />
<a href="javascript:void(0);" id="ShowurlHFCUnbilledCallDetail">Detalle de Llamada Saliente No Facturada HFC</a><br />
<br />
<a href="javascript:void(0);" id="ShowurlLTEUnbilledCallDetail">Detalle de Llamada Saliente No Facturada LTE</a><br />
<br /><br />
<a href="javascript:void(0);" id="ShowurlPostIncomingCallDetail">Detalle de Llamadas Entrantes Postpago</a><br />
<br /><br />
<a  class="btn btn-info" href="javascript:void(0);" id="ShowMaintenance">Manteninimiento HFC</a><br />
<br /><br />
<a href="javascript:void(0);" id="ShowurlHFCPlanMigration">Migración de Plan HFC</a><br />
<br /><br />
<a href="javascript:void(0);" id="ShowurlLTEPlanMigration">Migración de Plan LTE</a>
<br />
<a href="javascript:void(0);" id="ShowurlPostCambioPlan">Cambio de Plan - PostPago</a><br />


<br />
<a class="btn btn-xs btn-danger" href="javascript:void(0);" id="ShowurlHFCRetentionCancelServices">Retención / Cancelación de Servicio - HFC</a>
<a class="btn btn-xs btn-danger" href="javascript:void(0);" id="ShowurlLTERetentionCancelServices">Retención / Cancelación de Servicio - LTE</a>
<a class="btn btn-xs btn-danger" href="javascript:void(0);" id="ShowurlPostpaidRetentionCancelServices">Retención / Cancelación de Servicio - PostPaid</a>

<br /><br />
<a class="btn btn-info" href="javascript:void(0);" id="Record">Leer Constancia</a><br />

<br />
<br />
<a href="javascript:void(0);" id="ShowurlHfcIncomingCallDetail">Detalle de Llamada Entrantes HFC</a> &nbsp;|&nbsp;
<a href="javascript:void(0);" id="ShowurlLteIncomingCallDetail">Detalle de Llamada Entrantes LTE</a>
<br /><br />
<a href="javascript:void(0);" id="ShowUnistallInstallationOfDecoder">Instalación/Desinstlación de Decodificadores</a>

<h5>ETAPA 2</h5>
<a href="javascript:void(0);" id="ShowAdditionalServicesHFC">Servicios Adicionales HFC</a><br />
<a class="btn btn-xs btn-danger" href="javascript:void(0);" id="ShowAdditionalServicesLTE">Servicios Adicionales LTE</a><br />
<a href="javascript:void(0);" id="ShowAdditionalServicesPostPaid">Servicios Adicionales PostPago</a><br />
<h4>ETAPA 3</h4>
<a class="btn btn-xs btn-danger"   href="javascript:void(0);"  id="config" >Configuracion de ip</a>
 &nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-xs btn-danger" href="javascript:void(0);" id="ShowHFCAdditionalPoints">Puntos Adicionales - HFC</a>
 &nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-xs btn-danger" href="javascript:void(0);" id="ShowETLAdditionalPoints">Puntos Adicionales - ETL</a>
<br />
<br />

<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
@section scripts
{
    <script>
        var urlConfigurationIP = 'http://localhost:37738/Transactions/HFC/ConfigurationIP/ConfigurationIP';
        var urlRecord = 'http://localhost:37738/Transactions/GenerateRecord/Record';
        var urlChangeNumberHFC = 'http://localhost:37738/Transactions/HFC/ChangePhoneNumber/HFCChangePhoneNumber';

        var urlInvokeRecord = 'http://localhost:37738/Transactions/CommonInvokeRecord/InvokeRecord';
        var urlMaintenance = 'http://localhost:37738/Transactions/HFC/Maintenance/Index';
        var urlAdditionalServicesHFC = 'http://localhost:37738/Transactions/HFC/AdditionalServices/HFCAdditionalServices';
        var urlAdditionalServicesLTE = 'http://localhost:37738/Transactions/LTE/AdditionalServices/LTEAdditionalServices';
        var urlAdditionalServicesPostPaid = 'http://localhost:37738/Transactions/Postpaid/AdditionalServices/PostPaidAdditionalServices';

        var urlHFCBilledCallsDetail = 'http://localhost:37738/Transactions/HFC/CallDetails/HFCBilledCallsDetail';
        var urlLTEBilledCallsDetail = 'http://localhost:37738/Transactions/LTE/CallDetails/LTEBilledCallsDetail';

        var urlHFCUnbilledCallDetail = 'http://localhost:37738/Transactions/HFC/CallDetails/HFCUnbilledCallDetail';
        var urlLTEUnbilledCallDetail = 'http://localhost:37738/Transactions/LTE/CallDetails/LTEUnbilledCallDetail';

        var urlPostIncomingCallDetail = 'http://localhost:37738/Transactions/Postpaid/IncomingCallDetail/PostpaidIncomingCallDetail';
        var urlPostCambioPlan = 'http://localhost:37738/Transactions/Postpaid/PlanMigration/PostpaidPlanMigration';

        //Potpaid Type customer
        var urlPostpaidChangeTypeCustomer = 'http://localhost:37738/Transactions/Postpaid/ChangeTypeCustomer/PostpaidDetail';


        var urlPrepaidBilledOutCallDetails = 'http://localhost:37738/Transactions/Prepaid/BilledOutCallDetails/PrepaidBilledOutCallDetail'


        var urlPostpaidBilledOutCallDetails = 'http://localhost:37738/Transactions/Postpaid/BilledOutCallDetail/PostpaidBilledOutCallDetail'

        var urlHFCExternalInternalTransfer = 'http://localhost:37738/Transactions/HFC/ExternalInternalTransfer/HFCExternalInternalTransfer'
        var urlLTEExternalInternalTransfer = 'http://localhost:37738/Transactions/LTE/ExternalInternalTransfer/LTEExternalInternalTransfer'

        var urlHFCPlanMigration = 'http://localhost:37738/Transactions/HFC/PlanMigration/HfcPlanMigration';
        var urlLTEPlanMigration = 'http://localhost:37738/Transactions/LTE/PlanMigration/LtePlanMigration';

        var URL_HFCAdditionalPoints = 'http://localhost:37738/Transactions/HFC/AdditionalPoints/HFCAdditionalPoints';
        var URL_ETLAdditionalPoints = 'http://localhost:37738/Transactions/LTE/AdditionalPoints/LTEAdditionalPoints';

        var urlHFCRetentionCancelServices = 'http://localhost:37738/Transactions/HFC/RetentionCancelServices/HFCRetentionCancelServices';
        var urlLTERetentionCancelServices = 'http://localhost:37738/Transactions/LTE/RetentionCancelServices/LTERetentionCancelServices';
        var urlPostpaidRetentionCancelServices = 'http://localhost:37738/Transactions/Postpaid/RetentionCancelServices/PostpaidRetentionCancelServices';
        // Instalacion desinstalacio de deco
        var urlUnistallInstallationOfDecoder = 'http://localhost:37738/Transactions/HFC/UnistallInstallationOfDecoder/UnistallInstallationOfDecoder';

        var urlPostPago = 'http://localhost:37738/Transactions/Postpaid/UnbilledOutCallDetail/PostpaidUnbilledOutCallDetail';
        var urlPrepago = 'http://localhost:37738/Transactions/Prepaid/IncomingCallDetail/PrepaidIncomingCallDetail';

        $(document).on('click', '#ShowChangeNumberHFC', function () {
            window.open(urlChangeNumberHFC, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1000, height=600');
            return false;
        });

        $(document).on('click', '#ShowHFCAdditionalPoints', function () {
            window.open(URL_HFCAdditionalPoints, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=640');
           return false;
        });

        $(document).on('click', '#ShowETLAdditionalPoints', function () {
            window.open(URL_ETLAdditionalPoints, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=640');
            return false;
        });


        //Retención / Cancelación de Servicio
        $(document).on('click', '#ShowurlHFCRetentionCancelServices',
            function () {
                window.open(urlHFCRetentionCancelServices, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=800');
           return false;
            });
        $(document).on('click', '#ShowurlLTERetentionCancelServices',
            function () {
                window.open(urlLTERetentionCancelServices, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=800');
                return false;
            });
        $(document).on('click', '#ShowurlPostpaidRetentionCancelServices',
            function () {
                window.open(urlPostpaidRetentionCancelServices, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=700');
                return false;
            });

        $(document).on('click', '#ShowAdditionalServicesHFC',
        function () {
                window.open(urlAdditionalServicesHFC, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1400, height=720');
                return false;
            });

        $(document).on('click', '#ShowPostpaidTypeChange',
            function () {
                window.open(urlPostpaidChangeTypeCustomer, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=800');
                return false;
            });
        $(document).on('click', '#ShowAdditionalServicesLTE',
            function () {
                window.open(urlAdditionalServicesLTE, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1100, height=650');
                return false;
            });

        $(document).on('click', '#ShowAdditionalServicesPostPaid',
            function () {
                window.open(urlAdditionalServicesPostPaid, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=800');
                return false;
            });

        $(document).on('click', '#ShowPrepaidBilledOutCallDetails',
            function () {
                window.open(urlPrepaidBilledOutCallDetails, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1000, height=650');
                return false;
            });


        $(document).on('click', '#ShowPostpaidBilledOutCallDetails',
           function () {
               window.open(urlPostpaidBilledOutCallDetails, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1000, height=650');
               return false;
           });
        $(document).on('click', '#ShowHFCExternalInternalTransfer',
          function () {
              window.open(urlHFCExternalInternalTransfer, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1000, height=650');
              return false;
          });
        $(document).on('click', '#ShowLTEExternalInternalTransfer',
          function () {
              window.open(urlLTEExternalInternalTransfer, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1000, height=650');
              return false;
          });
        
        //Detalle de llamada saliente facturado
        $(document).on('click', '#ShowurlHFCBilledCallsDetail',
            function () {
                window.open(urlHFCBilledCallsDetail, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=640');
                return false;
            });
        $(document).on('click', '#ShowurlLTEBilledCallsDetail',
            function () {
                window.open(urlLTEBilledCallsDetail, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=800');
                return false;
            });

        //Detalle de llamada saliente no facturado
        $(document).on('click', '#ShowurlHFCUnbilledCallDetail',
            function () {
                window.open(urlHFCUnbilledCallDetail, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=640');
                return false;
            });
        $(document).on('click', '#ShowurlLTEUnbilledCallDetail',
            function () {
                window.open(urlLTEUnbilledCallDetail, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=800');
                return false;
            });


        //Detalle de llamadas entrantes Postpago
        $(document).on('click', '#ShowurlPostIncomingCallDetail',
            function () {
                window.open(urlPostIncomingCallDetail, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=800');
                return false;
            });

        $(document).on('click', '#ShowMaintenance',
            function () {

                window.open(urlMaintenance, 'popimpr', 'directories=no,location=no,menubar=no,scrollbars=yes,statusbar=no,titlebar=no,width=800,height=800,Top=150,Left=600,modal=no,Resizable=yes');
                return false;
            });
        $(document).on('click', '#ShowurlHFCPlanMigration', function () {
            window.open(urlHFCPlanMigration, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=yes, tittlebar=no, width=1200, height=800');
        });

        $(document).on('click', '#ShowurlLTEPlanMigration', function () {
            window.open(urlLTEPlanMigration, 'popimpr', 'directories=yes, location=yes, menubar=yes, scrollbars=yes, statusbar=yes,titlebar=yes, width=auto,height=auto');
        });

        // Instalacion desinstalacio de deco
        $(document).on('click', '#ShowUnistallInstallationOfDecoder',
           function () {
            window.open(urlUnistallInstallationOfDecoder, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=700');
               return false;
           });
        //leer constancia
        $(document).on('click', '#Record',
         function () {
             window.open(urlRecord, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=800, height=600');
             return false;
         });

        //configuracion de ip
        $(document).on('click', '#config',
          function () {
              window.open(urlConfigurationIP, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1200, height=640');
              return false;
          });

        $(document).on('click', '#ShowPostPago',
           function () {
               window.open(urlPostPago, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1000, height=680');
               return false;
           });
        $(document).on('click', '#ShowPrePago',
           function () {
               window.open(urlPrepago, 'popimpr', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=1000, height=680');
               return false;
           });
    </script>
}
