@{
    ViewBag.Title = "Activar o Desactivar Servicios Adicionales";
    //Layout = "~/Areas/Transactions/Views/Shared/_Layout.cshtml";
    Layout = null;
    //ViewBag.TitleHtml = "ACTIVAR O DESACTIVAR SERVICIOS ADICIONALES LTE";

}
<link href="~/Areas/Transactions/ContentTransac/css/MigrationPlan.css" rel="stylesheet" />
<style>
    .input-group-addon-xs {
        font-size: 10px;
    }

    .padding-top-remove {
        padding-top: 0px;
    }

    .margin-bottom-remove {
        margin-bottom: 0px;
    }

    select.input-xs {
        height: 26px;
        line-height: 2px;
        font-size: 11px;
    }

    input.input-xs {
        height: 25px;
        line-height: 1.5;
        border-radius: 3px;
        font-size: 11.5px;
        padding: 5px 10px;
    }

    .padding-top-td {
        padding-top: 4px;
        margin-top: 4px;
    }
</style>
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="LTEActiveDesactiveService" class="container-fluid">
    <div class="scrollbudy">
        <div class="col-md-3">
            <div id="DataCustomer" class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel claro-panel-primary">
                    <div id="customerDataHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        <a data-toggle="collapse" href="#customerDataCollapse" aria-expanded="true" data-parent="#DataCustomer" aria-controls="customerDataCollapse" class="collapsed transaction-ref-color"> Datos del Cliente</a>
                    </div>
                    <div class="panel-body panel-collapse collapse in" id="customerDataCollapse" role="tabpanel" aria-labelledby="customerDataHead">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td class="col-md-3">Contrato:</td>
                                    <td><label id="lblLteContract"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        Tipo Cliente:
                                    </td>
                                    <td><label id="lblHeaderTypeCustomer"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Cliente:</td>
                                    <td><label id="lblCustomerName"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Contacto:</td>
                                    <td><label id="lblContactName"></label></td>

                                </tr>
                                <tr>
                                    <td class="col-md-3">DNI/RUC:</td>
                                    <td><label id="lblDocument"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Plan Actual:</td>
                                    <td><label id="lblPlanName"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Fecha de Activación:</td>
                                    <td><label id="lblDateActivation"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Ciclo de Facturación:</td>
                                    <td><label id="lblCycleFacture"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Límite de Crédito:</td>
                                    <td><label id="lblLimitCredit"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Representante Legal:</td>
                                    <td><label id="lblRepreLegal"></label> </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Codigo de CLiente:</td>
                                    <td><label id="lblCustomerId"></label> </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Doc Repres. Legal:</td>
                                    <td><label id="lblDocRepresLegal"></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="addressDataHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-home"></span>
                        <a data-toggle="collapse" href="#addressDataCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="addressDataCollapse" class="collapsed transaction-ref-color"> Dirección de Facturación</a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="addressDataCollapse" role="tabpanel" aria-labelledby="addressDataHead">
                        <table class="table table-condensed">
                            <tr>
                                <td class="col-md-3">Dirección</td>
                                <td class="col-md-3">
                                    <label id="txtDireccion"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Referencia</td>
                                <td class="col-md-3">
                                    <label id="txtNotaDireccion"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Departamento</td>
                                <td class="col-md-3">
                                    <label id="txtDepartamento"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">País</td>
                                <td class="col-md-3">
                                    <label id="txtPais"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Distrito</td>
                                <td class="col-md-3">
                                    <label id="txtDistrito"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Provincia</td>
                                <td class="col-md-3">
                                    <label id="txtProvincia"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Código de Ubigeo</td>
                                <td class="col-md-3">
                                    <label id="txtCodigoUbigeo"></label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="businessRulesHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <a data-toggle="collapse" href="#businessRulesCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="businessRulesCollapse" class="collapsed transaction-ref-color"> Reglas de Atención</a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="businessRulesCollapse" role="tabpanel" aria-labelledby="businessRulesHead">
                        <div id="divRules">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 transaction-content" id="content">
            <div class="transaction-container-step">
                <div class="process">
                    <div class="process-row nav nav-tabs">
                        <div class="process-step process-step-3-left">
                            <button type="button" class="btn btn-circle transaction-button" data-toggle="tab" role="tab" href="#tabPlanYServiciosAdicionales" percent="0%"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <p>Contrato</p>
                        </div>
                        <div class="process-step process-step-3">
                            <button type="button" class="btn btn-circle transaction-button" data-toggle="tab" role="tab" href="#tabServiciosComplementarios" percent="37.5%" disabled><i class="fa fa-cogs" aria-hidden="true"></i></button>
                            <p>Servicios de Contrato</p>
                        </div>
                        <div class="process-step process-step-3">
                            <button type="button" class="btn btn-circle transaction-button" data-toggle="tab" role="tab" href="#tabFechaProgramada" percent="62.5%" disabled><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
                            <p>Fechas Programada</p>
                        </div>
                        <div class="process-step process-step-3-right">
                            <button type="button" class="btn btn-circle transaction-button" data-toggle="tab" role="tab" href="#tabResumen" percent="99%" disabled><i class="fa fa-list-ul" aria-hidden="true"></i></button>
                            <p>Resumen</p>
                        </div>
                    </div>
                </div>
                <div class="transaction-progress">
                    <div class="progress transaction-bar">
                        <div id="prog" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="tabPlanYServiciosAdicionales" class="step tab-pane active" role="tabpanel" percent="0%">
                    <div class="panel claro-panel-primary">
                        <div class="panel-heading">
                            Contratos
                        </div>
                        <div id="LTEAdditionalServicesContratac" class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" id="btnCheckDevices" class="btn transaction-button btn-sm"><span class="glyphicon glyphicon-phone"></span> Consultar Equipos</button>
                                    <button type="button" id="btnProgramTask" class="btn transaction-button btn-sm"><span class="glyphicon glyphicon-calendar"></span> Tareas Programadas</button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tblContracts" class="table table-bordered table-striped">
                                        <thead class="btn-danger">
                                            <tr>
                                                <th></th>
                                                <th>Customer ID</th>
                                                <th>Contrato</th>
                                                <th>Nombre</th>
                                                <th>Estado</th>
                                                <th>Fecha de Activación</th>
                                                <th>Motivo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="radio" name="chckContract" class="radio selectedContract" id="chckContract" checked="checked" /></td>
                                                <td id="lblCustomerIds"></td>
                                                <td id="lblContract"></td>
                                                <td id="lblName"></td>
                                                <td id="lblState"></td>
                                                <td id="lblDate"></td>
                                                <td id="lblMotive"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br />
                        </div>
                        <center>
                            <button type="button" class="btn transaction-button next-step">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        </center>
                        <br /><br />
                    </div>
                </div>
                <div id="tabServiciosComplementarios" class="step tab-pane fade" role="tabpanel" percent="37.5%">
                    <div class="panel claro-panel-primary" id="divCompTopConsume">
                        <div class="panel-heading">
                            Servicios Contratado
                        </div>
                        <div id="divAdditionalServicesCollapse" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="divAdditionalServicesHead">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title"></h4>
                                            <table class="table table-condensed">
                                                <tbody>
                                                    <tr>
                                                        <td>G. de Servicios</td>
                                                        <td><span class="badge" style="background-color: brown !important;">&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>No vigente</td>
                                                        <td><span class="badge" style="background-color: Silver !important;">&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title"></h4>
                                            <table class="table table-condensed">
                                                <tbody>
                                                    <tr>
                                                        <td>Activo</td>
                                                        <td><span class="badge" style="background-color: forestgreen !important;">&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Desactivo</td>
                                                        <td><span class="badge" style="background-color: red !important;">&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title"></h4>
                                            <table class="table table-condensed">
                                                <tbody>
                                                    <tr>
                                                        <td>Permanente</td>
                                                        <td><span class="badge" style="background-color: NavajoWhite !important;">&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>No se puede activar ni desactivar</td>
                                                        <td><span class="badge" style="background-color: #FAFAB1 !important;">&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:15px;">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="tblServicesAdd" class="table table-bordered table-hover table-striped" style="width:100%; padding:0; margin:0;">
                                            <thead class="btn-danger">
                                                <tr>
                                                    <th></th>
                                                    <th style="vertical-align:middle; font-size:9.5px; width:180px; text-align:center;">Grupo/Servicio Comercial</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 220px; text-align: center;">Motivo por el que los servicios son excluyentes</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 70px; text-align: center;">Estado</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 100px; text-align: center;">Válido desde</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 260px; text-align: center;">Cargo por suscripción al servicio según plan(sin IGV)</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 280px; text-align: center;">Cargo fijo mensual al servicio según plan(sin IGV)</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 150px; text-align: center;">Cuota modificada (S/.) sin IGV</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 150px; text-align: center;">Número de periodos válidos</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblServBody" style="font-size:11.5px;"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr id="hdnCampaing">
                                            <td class="col-md-1">
                                                <strong>
                                                    Aplicar Campaña:
                                                    <input class="checkbox-inline" type="checkbox" id="chkCampiagn" value="false">
                                                </strong>
                                            </td>
                                            <td class="col-md-3">
                                                <div id="trCampanaCamapaing" style="width: 30%;">
                                                    <select class="form-control input-xs" id="ddlCamapaign"></select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-1">
                                                <strong>Cargo Fijo Total (Sin IGV): </strong>
                                            </td>
                                            <td class="col-md-3">
                                                <strong>S/.</strong><label id="lblBuyWithoutIGV"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-1">
                                                <strong>Cargo Fijo Total (Con IGV): </strong>
                                            </td>
                                            <td class="col-md-3">
                                                <strong>S/.</strong><label id="lblBuyWithIGV"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-body col-md-6">
                                    <div id="divErrorAlertTable" class="alert alert-transaction alert-danger" role="alert">
                                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong><span id="lblErrorMessageTable"></span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <center>
                            <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                            <button type="button" class="btn transaction-button next-step" id="btnNextForm">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        </center>
                        <br /><br />
                    </div>
                </div>
                <div id="tabFechaProgramada" class="step tab-pane fade" role="tabpanel" percent="62.5%">
                    <div class="panel claro-panel-primary" id="DivPenalidad">
                        <div class="panel-heading">
                            Fecha Programada
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal" style="padding:15px;">
                                <table style="width:100%;">
                                    <tr>
                                        <td class="padding-top-td" style="width:20%;">
                                            <label class="control-label">
                                                Enviar por E-mail:
                                                <input class="checkbox-inline" type="checkbox" id="chkSendMail" value="true">
                                            </label>
                                        </td>
                                        <td class="padding-top-td">
                                            <input type="email" id="txtEmail" class="form-control input-xs" placeholder="Correo Electrónico">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-top-td" style="width:20%;">
                                            <label class="control-label">
                                                Programar:
                                                <input class="checkbox-inline" type="checkbox" id="chkProgram" value="false">
                                            </label>
                                        </td>
                                        <td class="padding-top-td" style="width:30%;">
                                            <div style="width:50%;" id="divContentProgramDate">
                                                <div class="input-daterange input-group">
                                                    <input type="text" class="form-control input-xs" id="txtProgramDate">
                                                    <label class="input-group-addon btn" for="txtProgramDate" style="padding: 3px 12px;">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="padding-top-td"><label></label></td>
                                        <td class="padding-top-td"></td>
                                    </tr>
                                    <tr>
                                        <td class="padding-top-td" style="width:20%;">
                                            <label for="cboCACDAC" class="control-label">Puntos de Atencion: </label>
                                        </td>
                                        <td class="padding-top-td">
                                            <select class="form-control input-sm" id="cboCACDAC"></select>
                                        </td>
                                        <td class="padding-top-td"><label></label></td>
                                        <td class="padding-top-td"></td>
                                    </tr>
                                    <tr>
                                        <td class="padding-top-td" style="width:20%;" valign="top">
                                            <label for="txtNotesTask" class="control-label">Notas:</label>
                                        </td>
                                        <td class="padding-top-td" colspan ="2" >
                                            <textarea class="form-control" style="resize: none" rows="4" id="txtNotesTask"></textarea>
                                        </td>
                                        <td class="padding-top-td"></td>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="panel-body col-md-6">
                                        <div id="divErrorAlert" class="alert alert-transaction alert-danger" role="alert">
                                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong><span id="lblErrorMessage"></span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-body">
                                <center>
                                    <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                                    @*<button type="button" class="btn transaction-button next-step" id="btnNexResumen">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>*@
                                    <button type="button" class="btn transaction-button next-step-scheduleddate" id="btnNexResumen">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                                </center>
                            </div>
                        </div>
                        <br /><br />
                    </div>
                </div>
                <div id="tabResumen" class="step tab-pane fade" role="tabpanel" percent="99%">
                    <div class="panel claro-panel-primary" id="DivResumen">
                        <div class="panel-heading">
                            Resumen
                        </div>
                        <div class="panel-body">
                            <div class="row" style="padding:15px;">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" style="width:100%; padding:0; margin:0;">
                                            <thead class="btn-danger">
                                                <tr>
                                                    <th style="vertical-align:middle; font-size:9.5px; width:180px; text-align:center;">Grupo/Servicio Comercial</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 220px; text-align: center;">Motivo por el que los servicios son excluyentes</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 70px; text-align: center;">Estado</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 100px; text-align: center;">Válido desde</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 260px; text-align: center;">Cargo por suscripción al servicio según plan(sin IGV)</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 280px; text-align: center;">Cargo fijo mensual al servicio según plan(sin IGV)</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 150px; text-align: center;">Cuota modificada (S/.) sin IGV</th>
                                                    <th style="vertical-align: middle; font-size: 9.5px; width: 150px; text-align: center;">Número de periodos válidos</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblResumen" style="font-size:11.5px;"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal" style="padding:15px;">
                                <table style="width: 100%;">
                                    <tr id="hdnCampañaResumen">
                                        <td class="padding-top-td" style="width:15%;">
                                            <label class="control-label" style="display: inline;">Aplicar Campaña:</label>
                                        </td>
                                        <td class="padding-top-td">
                                            <span id="lblCampañaResumen"></span>
                                        </td>
                                    </tr>
                                    <tr id="hdnEmailResumen">
                                        <td class="padding-top-td" style="width:15%;">
                                            <label class="control-label" style="display: inline;">Enviar por E-mail:</label>
                                        </td>
                                        <td class="padding-top-td">
                                            <span id="lblEmailResumen"></span>
                                        </td>
                                    </tr>
                                    <tr id="hdnProgramarResumen">
                                        <td class="padding-top-td" style="width:15%;">
                                            <label class="control-label" style="display: inline;">Programar:</label>
                                        </td>
                                        <td class="padding-top-td">
                                            <span id="lblProgramarResumen"></span>
                                        </td>
                                    </tr>
                                    <tr id="hdnPuntoAtencionResumen">
                                        <td class="padding-top-td" style="width:15%;">
                                            <label class="control-label" style="display: inline;">Puntos de Atencion:</label>
                                        </td>
                                        <td class="padding-top-td">
                                            <span id="lblPuntoAtencioResumen"></span>
                                        </td>
                                    </tr>
                                    <tr id="hdnNotaResumen">
                                        <td class="padding-top-td" style="width:15%;">
                                            <label class="control-label" style="display: inline;">Notas:</label>
                                        </td>
                                        <td class="padding-top-td">
                                            <span id="lblNotaResumen"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row">
                                <div class="panel-body">
                                    <center>
                                        <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                                        <a id="btnProActive" class="btn transaction-button"><span class="glyphicon glyphicon-floppy-disk"></span> Programar Activación</a>
                                        <button type="button" class="btn transaction-button" data-toggle="modal" id="btnProDesactive"><span class="glyphicon glyphicon-print"></span> Programar Desactivación</button>
                                        <button type="button" class="btn transaction-button" data-toggle="modal" id="btnActive"><span class="glyphicon glyphicon-save"></span>Activar</button>
                                        <button type="button" class="btn transaction-button" data-toggle="modal" id="btnDesactive"><span class="glyphicon glyphicon-save"></span>Desactivar</button>
                                        <button id="btnConstancy" type="button" class="btn transaction-button" data-toggle="modal" data-target="_blank"><span class="glyphicon glyphicon-list-alt"></span>Constancia</button>
                                        <a id="btnClose" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</a>
                                    </center>
                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <div id="myModalLoad" style="display: none;">
                    <span>
                        <img src="~/Images/loading2.gif" width="25" height="25" /> Cargando ....
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/steps")
@Scripts.Render("~/bundles/Transactions/ReadRecordPDF/ReadRecord")
@Scripts.Render("~/bundles/Transactions/Auth/AuthUser")
@Scripts.Render("~/bundles/Transactions/LTE/LTEAdditionalServices")
