@using System.Web.Optimization;

@{
    Layout = null;
}
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="FixedChangePhoneNumber" class="contenedor">
    <div class="scrollbudy">
        <div class="col-md-3">
            <div id="DataCustomer" class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel claro-panel-primary">
                    <div id="customerDataHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        <a data-toggle="collapse" href="#customer" aria-expanded="true" data-parent="#DataCustomer" aria-controls="customerDataCollapse" class="collapsed transaction-ref-color"> Datos del Cliente</a>
                    </div>

                    <div class="panel-body panel-collapse collapse in" id="customer" role="tabpanel" aria-labelledby="customerDataHead">
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <td class="col-md-3">Contrato</td>
                                <td class="col-md-3"><label id="lblContract"></label></td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Tipo de Cliente</td>
                                <td class="col-md-3"><label id="lblCustomerType"></label></td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Contacto</td>
                                <td class="col-md-3"><label id="lblCustomerContact"></label></td>
                            </tr>
                            <tr>
                                <td class="col-md-3">Cliente</td>
                                <td class="col-md-3"><label id="lblCustomerName"></label></td>
                            </tr>
                            <tr>
                                <td>DNI/RUC</td>
                                <td><label id="lblIdentificationDocument"></label></td>
                            </tr>
                            <tr>
                                <td>Representante Legal</td>
                                <td><label id="lblLegalRepresentative"></label></td>
                            </tr>
                            <tr>
                                <td>Doc. Repres. Legal</td>
                                <td><label id="lblIdentificationDocumentoLR"></label></td>
                            </tr>
                            <tr>
                                <td>Fecha de Activación</td>
                                <td><label id="lblActivationDate"></label></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="addressDataHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-home"></span>
                        <a data-toggle="collapse" href="#addressDataCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="addressDataCollapse" class="collapsed transaction-ref-color"> Dirección de Facturación</a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="addressDataCollapse" role="tabpanel" aria-labelledby="addressDataHead">
                        <table class="table table-condensed">
                            <tr>
                                <td>Dirección</td>
                                <td>
                                    <label id="lblAddress"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Urbanización</td>
                                <td>
                                    <label id="lblUrbanization"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>País</td>
                                <td>
                                    <label id="lblCountry"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Departamento</td>
                                <td>
                                    <label id="lblDepartment"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Provincia</td>
                                <td>
                                    <label id="lblProvince"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Distrito</td>
                                <td>
                                    <label id="lblDistrict"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Código de Plano</td>
                                <td>
                                    <label id="lblPlaneCode"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Código de Ubigeo</td>
                                <td>
                                    <label id="lblUbigeoCode"></label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="businessRulesHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <a data-toggle="collapse" href="#businessRulesCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="businessRulesCollapse" class="collapsed transaction-ref-color"> Reglas de Atención</a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="businessRulesCollapse" role="tabpanel" aria-labelledby="businessRulesHead">
                        <div id="divRules">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            @*<div class="col-md-9">*@
            <div id="tabChangePhoneNumber" role="tabpanel" percent="0%">
                <div class="panel claro-panel-primary">
                    <div class="panel-heading">
                        Cambio de Número HFC
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="txtCurrentPhone" class="col-sm-3 control-label">Teléfono Actual</label>
                                <div class="col-sm-2">
                                    <input type="text" id="txtCurrentPhone" class="form-control input-sm" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="chkFidelizeTransac" class="col-sm-3 control-label">Fidelizar la Transacción</label>
                                <div class="col-sm-1">
                                    <div class="checkbox text-center">
                                        <label>
                                            <input id="chkFidelizeTransac" type="checkbox">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="txtTransacCost" class="control-label">Costo de la Transacción (inc. IGV)</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" id="txtTransacCost" class="form-control input-sm text-right" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="chkLocution" class="col-sm-3 control-label">Envío de Locución</label>
                                <div class="col-sm-1">
                                    <div class="checkbox text-center">
                                        <label>
                                            <input id="chkLocution" type="checkbox">
                                        </label>
                                    </div>
                                </div>
                                <div id="divLocution">
                                    <div class="col-sm-2">
                                        <label for="txtLocutionCost" class="control-label">Costo Locución (inc. IGV)</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                <input id="chkLocutionFidelize" type="checkbox"> <small>Fidelizar</small>
                                            </label>
                                            <input id="txtLocutionCost" type="text" class="form-control input-sm text-right" aria-label="..." readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="chkEmail" class="col-sm-3 control-label">Envío por e-mail</label>
                                <div class="col-sm-1">
                                    <div class="checkbox text-center">
                                        <label>
                                            <input id="chkEmail" type="checkbox">
                                        </label>
                                    </div>
                                </div>
                                <div id="divEmail" class="col-sm-3">
                                    <input type="text" id="txtEmail" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ddlCACDAC" class="col-sm-3 control-label">Punto de Atención</label>
                                <div class="col-sm-3">
                                    <select id="ddlCACDAC" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtNotas" class="col-sm-3 control-label">Notas</label>
                                <div class="col-sm-6">
                                    <textarea id="taNotas" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button id="btnSave" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                                    <button id="btnClose" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                                    <button id="btnConstancy" type="button" class="btn transaction-button" data-toggle="modal" data-target="_blank"  ><span class="glyphicon glyphicon-list-alt"></span> Constancia</button>
                                </div>
                            </div>
                            <div id="divErrorAlert" class="alert alert-transaction alert-danger" role="alert">
                                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong><span id="lblErrorMessage"></span></strong>
                            </div>
                        </form>
                    </div>
                </div>
                @*</div>*@
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script src="~/Areas/Transactions/Scripts/ReadRecordPdf/ReadRecord.js"></script>
@Scripts.Render("~/bundles/Transactions/HFC/ChangePhoneNumber")
@Scripts.Render("~/bundles/steps")