<?xml version="1.0"?>
<configuration>
  <system.web>
    <strMsgEmailFirma>Atención al Cliente</strMsgEmailFirma>
    <strMsgEmailConsultaLlameGratis>Consultas, llame gratis desde su celular Claro al 123 o al 0801-123-23 (costo de llamada local).</strMsgEmailConsultaLlameGratis>

    <strAsuntoEmailRetencionCancelacion>Solicitud de Cancelación de Servicio</strAsuntoEmailRetencionCancelacion>
    <strMsgEmailRetencionServicio>Por la presente queremos informarle que su intención de Cancelación de Servicio ha quedado sin efecto por aceptación suya.</strMsgEmailRetencionServicio>
    <strMsgEmailCancelacionServicio>Por la presente queremos informarle que su solicitud de Cancelación de Servicio fue registrada y estará siendo atendida en el plazo establecido.</strMsgEmailCancelacionServicio>

    <!-- MINOR CHANGES -->
    <strAsuntoEmailMinorChanges>Cambio de Datos Menores</strAsuntoEmailMinorChanges>
    <strMsgEmailMinorChanges>Por la presente queremos informarle que su solicitud de Cambio de Datos Menores fue registrada y estará siendo atendida en el plazo establecido.</strMsgEmailMinorChanges>
    <!-- END MINOR CHANGES -->

    <!-- SUSPENSIONRECONEXION CHANGES -->
    <strAsuntoEmailSuspensionReconexionChanges>Suspensión del Servicio</strAsuntoEmailSuspensionReconexionChanges>
    <strMsgEmailSuspensionReconexionChanges>Por la presente queremos informarle que su solicitud Suspensión de servicio fue registrada y estará siendo atendida en el plazo establecido.</strMsgEmailSuspensionReconexionChanges>
    <!-- END SUSPENSIONRECONEXION CHANGES -->

    <!-- ChangeEquipment CHANGES -->
    <strStateLine>Desactivo,Reservado,Suspendido</strStateLine>
    <strMsgStateLine>Contrato está ###, no puede completar la operación.</strMsgStateLine>
    <strVariableEmpty></strVariableEmpty>
    <strMsgVariableEmpty>La sesión no contiene valor para estado del Contrato.</strMsgVariableEmpty>

    <strConstancyError>Ocurrió un error con la Constancia</strConstancyError>
    <strEquipmentNotSelected>No se ha seleccionado un equipo.</strEquipmentNotSelected>
    <strEquipmentBlockToSelected>No puede seleccionar un equipo que ya se encuentra asociado</strEquipmentBlockToSelected>
    <strMessageCheckFullChange>Se realiza cambio de ###</strMessageCheckFullChange>

    <strMsgValidaOrigen>Problemas al carga ### desde su origen de datos.</strMsgValidaOrigen>
    <strMsgSuccessTransaction>La transacción se generó con éxito.</strMsgSuccessTransaction>
    <strMessageSummary>Ingresar ### en la tabla inferior.</strMessageSummary>
    <strValidateIncompleteFields>No se pudo realizar la operación. Existen campos sin completar.</strValidateIncompleteFields>
    <strValidateEquipmentResponseCodeInvalid>Error desconocido. No se reconoce el código de respuesta obtenido.</strValidateEquipmentResponseCodeInvalid>
    <strValidateEquipmentActive>El equipo de encuentra con estado activo.</strValidateEquipmentActive>
    <strValidateEquipmentNotFound>No se encontró el equipo.</strValidateEquipmentNotFound>
    <strValidateEquipmentTechnicalErrors>Hubo un error al validar el equipo. Por favor, verifique que la serie ingresada sea correcta.</strValidateEquipmentTechnicalErrors>
    <strValidateEquipmentContractInvalid>El contrato del cliente se encuentra en estado INVÁLIDO. </strValidateEquipmentContractInvalid>
    <strValidateEquipmentContractNotExist>El contrato del cliente no existe. </strValidateEquipmentContractNotExist>
    <strValidateEquipmentIMSI>No se encuentra disponible el número IMSI </strValidateEquipmentIMSI>
    <strValidateEquipmentICCID>No se encuentra disponible el número ICCID </strValidateEquipmentICCID>
    <strValidateEquipmentICCIDNotExist>El número ICCID no existe. </strValidateEquipmentICCIDNotExist>
    <strValidateEquipmentMoreThanOneEquipment>Se encontró más de un equipo con el número de serie ingresado. </strValidateEquipmentMoreThanOneEquipment>
    <strValidateEquipmentNotReceivedNewData>La validación fue exitosa pero no se logró obtener los datos del equipo</strValidateEquipmentNotReceivedNewData>
    <ChangeEquipmentCommercial2>Por la presente doy fe que los datos personales antes consignados son verdaderos y autorizo a America Movil Peru SAC, que en caso alguno de los datos proporcionados no sean validos o no coincidan con los registros oficiales, se de por invalida esta solicitud.</ChangeEquipmentCommercial2>
    <!--<ChangeEquipmentCommercial2>Por la presente doy fe que los datos personales antes consignados son verdaderos y autorizo a América Móvil Perú SAC, que en caso alguno de los datos proporcionados no sean válidos o no coincidan con los registros oficiales, se dé por inválida esta solicitud.</ChangeEquipmentCommercial2>-->
    <strValidateSameDecoType>El tipo del DECO a desasociar no coincide con el que se asociará. Intente con una serie diferente.</strValidateSameDecoType>
    <strSeriesNumberNotEqual>Intente con un número de serie diferente al que se quiere editar.</strSeriesNumberNotEqual>
    <strNotSeriesInput>No ha ingresado la serie del equipo.</strNotSeriesInput>
    <strLimitEquipments>No es posible agregar más equipos de tipo ###, porque ya alcanzó el límite por contrato.</strLimitEquipments>
    <strEqualEquipmentExistInOperation>Ya existe un equipo con este número de serie en la operación. Intente con un número diferente</strEqualEquipmentExistInOperation>
    <strSuccessModification>Modificación realizada con éxito</strSuccessModification>
    <strMsjServiceNotDis>Servicio Web no se encuentra disponible.</strMsjServiceNotDis>
    <strCorreoAsunto>Cambio de Equipo</strCorreoAsunto>
    <strCorreoMensaje>Por la presente queremos informarle que su Cambio de Equipo fue registrado y estar\u00e1 siendo atendida.</strCorreoMensaje>
    <!-- END ChangeEquipment CHANGES -->

    <strMensajeMinSus>El período mínimo de Suspensión es de {0} días. No es posible realizar la transacción.</strMensajeMinSus>
    <strMensajeMaxSus>El período máximo de Suspensión es de {0} días. No es posible realizar la transacción.</strMensajeMaxSus>

    <!-- Cambio de plan-->
    <strMsjValidacionCampo>El campo ### es inválido.</strMsjValidacionCampo>
    <strMsjValidacionCampoCantidad>El campo ### solo acepta #### caracteres.</strMsjValidacionCampoCantidad>
    <strMsjValidacionCampoSlt>Seleccionar ###.</strMsjValidacionCampoSlt>
    <strMsjValidacionCargadoListado>Error al cargar el listado de ###.</strMsjValidacionCargadoListado>
    <strMsjErrorPeticionAJAX>Error en el servicio de ###.</strMsjErrorPeticionAJAX>
    <strMsjSiVisitaTecnica>Se hará ###.</strMsjSiVisitaTecnica>
    <strMsjNoVisitaTecnica>No se hará ###.</strMsjNoVisitaTecnica>
    <strMsjYaSeAgregoElemento>Ya se agregó ###.</strMsjYaSeAgregoElemento>
    <strMsjNoTieneAutorizacion>Usted no tiene autorización para ###.</strMsjNoTieneAutorizacion>
    <strMsjSeleccionarParaEliminar>Seleccione ### para eliminar.</strMsjSeleccionarParaEliminar>
    <strMsjMaximoEquipos>Solo se permite seleccionar un máximo de ### equipos.</strMsjMaximoEquipos>
    <strMsjSeleccionarParaAlquilar>Necesita seleccionar ### de alquiler.</strMsjSeleccionarParaAlquilar>
    <strMsjErrorAlCargar>Error al cargar ###.</strMsjErrorAlCargar>
    <strMsjErrorAlValidar>Error al validar ###.</strMsjErrorAlValidar>
    <strMsjNoExistenRegistrosEn>No existen Registros en ###.</strMsjNoExistenRegistrosEn>
    <strMsjNoExistenRegistros>No existen Registros.</strMsjNoExistenRegistros>
    <strMsjNoExistenLineaTelefono>No existe una linea de Teléfono.</strMsjNoExistenLineaTelefono>
    <strMsjErrorInteraction>No se pudo ejecutar la transacción, se debe proceder en forma manual.</strMsjErrorInteraction>
    <strMensajeErrorConsultaIGV>El servicio de consulta IGV no se encuentra disponible en estos momentos. Vuelva intentarlo en breve.</strMensajeErrorConsultaIGV>
    <strAlertaEstaSegGuarCam>¿Está seguro de guardar los cambios?</strAlertaEstaSegGuarCam>
    <strMsjValidacionCampoFormato>El campo ### no tiene un formato válido.</strMsjValidacionCampoFormato>
    <strMsjTranGrabSatis>La transacción se ha grabado satisfactoriamente</strMsjTranGrabSatis>
    <strMsjDeseaCargarCore>Los core seleccionados se cargarán, desea cargarlos?</strMsjDeseaCargarCore>
    <strMessageQuantityEquipment>Se excedió en la combinación de Equipos</strMessageQuantityEquipment>
    <strMessageErrorValidationEquipment>Error en la validación de Decos</strMessageErrorValidationEquipment>
    <strMessageQuantityXEquipment>Tiene que tener seleccionado ### elemento(s) de ####</strMessageQuantityXEquipment>
    <strMessageValidationQuantityDecos>No existe la cantidad de Decos ### seleccionado(s) disponibles</strMessageValidationQuantityDecos>
    <strMessageValidateVelPlan>No se puede activar un plan con velocidad superior a 10 MB</strMessageValidateVelPlan>

    <!--Los core seleccionados se cargarán, desea cargarlos?-->

    <!-- END Cambio de plan -->
  
  
    <!--Inst/Desins Deco-->
    <strMsgNoExisteDeco>El cliente no tiene Decodificadores Adicionales Instalados.</strMsgNoExisteDeco>
    <!---Fin Inst/Desins Deco-->

  </system.web>
</configuration>