@{
    Layout =  "~/Areas/Transactions/Views/Shared/_Layout.cshtml";
}
    <script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
	<script language="JavaScript" type="text/JavaScript">
	function minimizar(){
	window.resizeTo(350, 250);
	window.moveTo((screen.width - 300)/2,(screen.height - 200)/2);
						}; 
	setTimeout(minimizar,1);
	</script>
	
    <div id="divOptionApplicant" class="container-fluid">
        <div class="row col-md-6" style="text-align: center;">
            <label class="radio-inline col-md-3">
                <input type="radio" value="RRLL" title="" name="RdoOpcionSolicitante" id="rbtnRRLL" />RRLL
            </label>
            <label class="radio-inline col-md-3">
                <input type="radio" value="Carta Poder" name="RdoOpcionSolicitante" id="rbtnCartaPoder" />
                Carta Poder
            </label>
        </div>
        <div class="row col-md-6" style="text-align:center;">
            <button id="btnAceptar" type="button" class="btn transaction-button btn-sm" accesskey="btnAceptar">Aceptar</button>
            <button id="btnCancelar" type="button" class="btn transaction-button btn-sm" accesskey="btnCancelar">Cancelar</button>
        </div>
    </div>
    
<script src="~/Areas/Transactions/Scripts/Common/OptionApplicant.js"></script>
