
@{
    ViewBag.Title = "QuestionsAnswerSecurity";
}
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="RecordEquipmentContainer" class="contenedor">
    <div class="col-md-12">
        <div class="panel panel-default">
                    <div class="EstiloTablaPlantilla" style="overflow-y:scroll; width:97%;height:300px;">
                        <div class="panel-heading claro-bg-second">
                            <label id="Label10" style="padding:10px">Preguntas de seguridad para desvinculación del equipo móvil</label>

                            <label id="lblTitTipoCliente" style="padding:10px">Tipo de Cliente : </label>
                            <label id="lblTipoClienteModal"></label>
                        </div>
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td colspan="3">
                                            <div id="divTblPreguntas" align="center">
                                                <table id="TblPreguntas" class="Arial11BV1" style="height:180px; font-size:12px; width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:60%;"></td>
                                                            <td style="width:30%;"></td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="form-group col-md-3 text-center">
                            <div class="panel panel-default" style="padding: 2% !important; margin-bottom: 0px">
                                <button type="button" class="btn claro-btn-info btn-sm" id="btnSave">Confirmar</button>
                                <button type="button" class="btn claro-btn-info btn-sm" id="btnClose">Cerrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label id="Label1" >Nro. Afirmaciones:<span id="lblNroAfirmaciones">12</span> </label>
                    </div>
                    </div>
            </div>
                </div>
            </div>
    </div>
</div>