<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="ContentViewServiceAdditional">
    <div class="panel panel-default" style="margin-left:15px; margin-right:15px">

        <div class="row" style="margin-left:1px; margin-right:1px">
            <div class="">
                <b>   Indicar al cliente que actualmente cuenta con los siguientes servicios adicionales:    </b>
                <table id="tbServiceAdditional" class="table-hover table-responsive claro-modal-tabla">
                    <thead class="claro-bg-primary">
                        <tr>
                            <th style="text-align:center" class="hide"></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row">
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/Transactions/ViewServiceAdditional")
