@model List<Claro.SIACU.Web.WebApplication.Transac.Service.Areas.Transactions.Models.Postpaid.ListPlan>
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<table id="tblListPlanPostpaid" class="table table-hover">
    <thead class="claro-bg-primary">
        <tr>
            <th style="text-align:center; width:80px !Important;"></th>
            <th style="text-align:center">Nombre del Plan</th>
        </tr>
    </thead>
    <tbody class="ctbody">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.strDescriptPlan</td>
                </tr>
            }
        }

    </tbody>
</table>
<div id="LoadingPostpaid">
</div>
