<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<table id="tblServTelefono" class="table  table-striped table-hover table-responsive claro-modal-tabla table-bordered">
    <thead>
        <tr class="claro-bg-primary">
            <th>Sel</th>
            <th>Nombre del Servicio</th>
            <th>Tipo de Servicio</th>
            <th>Grupo de Servicio</th>
            <th>Cargo Fijo (S/.) Sin IGV</th>
            <th>Consulta de Equipos</th>
            <th>Cant.</th>
            <th>SN CODE.</th>
            <th>SP CODE.</th>
            <th>Tipo Eq.</th>
            <th>TM Code.</th>
            <th>Cod. Serv.</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>