<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="modal-content">
    <div id="SelectServicesByPlan">
        <div class="panel panel-group claro-panel-primary">
            <div class="panel-heading" role="tab">
                Cable
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <table id="tblChooseServicesByPlanCable" class="table table-hover claro-modal-tabla table-bordered">
                        <thead>
                            <tr class="transac-table-header">
                                <th class="col-md-1"></th>
                                <th class="col-md-9">Nombre del Servicio</th>
                                <th class="col-md-2" data-toggle="tooltip" title="(S/.) Incluido IGV">Cargo Fijo con Igv</th>
                                <th>Equipo Asociado</th>
                                <th>Cantidad</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="panel-heading" role="tab">
                Internet
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <table id="tblChooseServicesByPlanInternet" class="table table-hover claro-modal-tabla table-bordered">
                        <thead>
                            <tr class="transac-table-header">
                                <th class="col-md-1"></th>
                                <th class="col-md-9">Nombre del Servicio</th>
                                <th class="col-md-2" data-toggle="tooltip" title="(S/.) Incluido IGV">Cargo Fijo con Igv</th>
                                <th>Equipo Asociado</th>
                                <th>Cantidad</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="panel-heading" role="tab">
                Telefonía
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <table id="tblChooseServicesByPlanPhone" class="table table-hover claro-modal-tabla table-bordered">
                        <thead>
                            <tr class="transac-table-header">
                                <th class="col-md-1"></th>
                                <th class="col-md-9">Nombre del Servicio</th>
                                <th class="col-md-2" data-toggle="tooltip" title="(S/.) Incluido IGV">Cargo Fijo con Igv</th>
                                <th>Equipo Asociado</th>
                                <th>Cantidad</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Transactions/Scripts/PlanMigration/LTEChooseServicesByPlan.js"></script>
