
@{
    ViewBag.Title = "LTEBilledCallsDetail";
    Layout = "~/Areas/Transactions/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<h2>LTEBilledCallsDetail</h2>

