@{
    ViewBag.Title = "Consultar Equipos LTE";
    Layout = "~/Areas/Transactions/Views/Shared/_Layout.cshtml";
    ViewBag.TitleHtml = "Consulta de Equipos LTE";
}
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="CheckDevicesHFC" class="container">
    <br />
    <div class="">
        <div class="row">
            <div class="panel panel-danger">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <strong>Customer ID: </strong>
                            <label id="lblCustomerId"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Cuenta: </strong>
                            <label id="lblAccountNumber"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Cliente: </strong>
                            <label id="lblCustomerName"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Contacto: </strong>
                            <label id="lblContactName"></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-info">             
                <table id="tblCheckDevicesLte" class="table  table-striped table-hover table-responsive claro-modal-tabla table-bordered">
                    <thead>
                        <tr class="claro-bg-primary">
                            <th class="col-md-1">Cod.Material </th>
                            <th class="col-md-2">Cod. SAP</th>
                            <th class="col-md-2">Num. Serie</th>
                            <th class="col-md-2">Mac Ad.</th>
                            <th class="col-md-2">Desc. Material</th>
                            <th class="col-md-2">Tipo Equipo</th>
                            <th class="col-md-2">Código / Id Producto</th>
                            <th class="col-md-2">Modelo</th>
                            <th class="col-md-2">Conv. Tipo</th>
                            <th class="col-md-2">Serv/Parque Principal</th>
                            <th class="col-md-2">Head End</th>
                            <th class="col-md-2">Perfil</th>
                            <th class="col-md-2">Número</th>
                        </tr>
                    </thead>
                    <tbody>
                                
                    </tbody>
                </table>
                <div id="myModalLoad" style="display:none;">
                    <span>
                        <img src="~/Images/loading2.gif" width="25" height="25" />  Cargando ....
                    </span>
                </div>
            </div>
        </div>

        <div class="container" align="center">
            <a id="btnClose" class="btn btn-danger"><span class="glyphicon glyphicon-home"></span> Cerrar</a>
            <br /><br />
        </div>
    </div>
</div>

<style>
    .modal-open {
        overflow: scroll;
    }
</style>

@section scripts{
    @Scripts.Render("~/bundles/Transactions/LTE/CheckDevices")
}




