@{
 //   ViewBag.Title = "Configuracion de Servicios";
   // Layout = "~/Areas/Transactions/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<style>
    .input-group-addon-xs {
        font-size: 10px;
    }

    .padding-top-remove {
        padding-top: 0px;
    }

    .margin-bottom-remove {
        margin-bottom: 0px;
    }

    select.input-xs {
        height: 26px;
        line-height: 2px;
        font-size: 11px;
    }

    input.input-xs {
        height: 25px;
        line-height: 1.5;
        border-radius: 3px;
        font-size: 11.5px;
        padding: 5px 10px;
    }

    .padding-top-td {
        padding-top: 5px;
        margin-top: 5px;
    }
</style>
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="HFCConfigurationIP" class="container-fluid">
    <div class="scrollbudy">
        <div class="col-md-3">
            @Html.Partial("~/Areas/Transactions/Views/Shared/ViewPartial/HFCLeftPanelCustomer.cshtml")
        </div>
        <div class="col-md-9">

            <div class="panel claro-panel-primary">
                <div class="panel-heading">
                    Listado de Equipos Asociados al Cliente
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table style="width:100%;" id="tbConfigurationIP" class="table  table-striped table-hover table-responsive claro-modal-tabla table-bordered">
                                    <thead>
                                        <tr class="claro-bg-primary">
                                            <th>Cod.&nbsp;Material</th>
                                            <th>Cod.&nbsp;SAP</th>
                                            <th>Num.&nbsp;Serie</th>
                                            <th>Mac&nbsp;Ad.</th>
                                            <th>Desc.&nbsp;Material</th>
                                            <th>Tipo&nbsp;Equipo</th>
                                            <th>Código/Id&nbsp;Producto</th>
                                            <th>Modelo</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @*Datos de la transaccion*@
            <div class="panel claro-panel-primary">
                <div class="panel-heading">
                    Datos de la Transacción:
                </div>
                <div class="panel-body">
                    <div>
                        <form class="">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="" style="width:100%;">
                                        <tr>
                                            <td class="padding-top-td text-left"><label class="control-label">Tipo de Trabajo:</label></td>
                                            <td class="padding-top-td text-left" style="width:30%;">
                                                <select class="form-control input-xs" id="cboJobTypes"></select>
                                            </td>
                                            <td class="padding-top-td text-left">&nbsp;&nbsp;<label class="control-label">Motivo SOT:</label></td>
                                            <td class="padding-top-td text-left" style="width:30%;">
                                                <select class="form-control input-xs" id="cboMotivoSot">
                                                    <option value="-1">Seleccionar</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr style="display:none;">
                                            <td class="padding-top-td text-left"><label class="control-label">Tipo:</label></td>
                                            <td class="padding-top-td text-left">
                                                <select class="form-control input-xs" id="cboType">
                                                    <option value="-1">Seleccionar</option>
                                                </select>
                                            </td>
                                            <td class="padding-top-td text-left">&nbsp;&nbsp;<label class="control-label"></label></td>
                                            <td class="padding-top-td text-left"></td>

                                        </tr>
                                        <tr style="display:none;">
                                            <td class="padding-top-td text-left"><label class="control-label">Servicios:</label></td>
                                            <td colspan="3" class="padding-top-td text-left">
                                                <select class="form-control input-xs" id="cboBranchCustomer">
                                                    <option value="-1">Seleccionar</option>
                                                </select>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div>
                <form class="">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="">
                                <tr>
                                    <td class="padding-top-td"><label class="control-label">Número SOT:</label></td>
                                    <td class="padding-top-td">
                                        &nbsp;&nbsp;&nbsp;

                                        <span id="lblHCFNroSot" class="badge">0</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </form>
            </div>


            <div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notas:</label>
                                <div class="col-sm-10">
                                    <textarea id="txtNote" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div>
                <form class="">
                    <div class="row">
                        <div class="col-sm-12">


                            <table class="" style="width:100%;">
                                <tr>
                                    <td class="padding-top-td" style="width:25%;display:none;">
                                        <label class="control-label">Fidelizar:</label>
                                        <input type="checkbox" id="chk_Fidelidad" name="chk_Fidelidad" style="width:16px; height:14px;" />
                                    </td>
                                    <td class="padding-top-td text-left">
                                        <label class="control-label">Costo de Instalación (Con IGV) S/:</label>
                                        
                                    </td>
                                    <td class="padding-top-td">
                                        <input type="text" id="txt_monto" readonly="readonly" style="width:70px;" class=" form-control input-xs " />
                                    </td>
                                    <td class="padding-top-td"></td>

                                </tr>
                                <tr>
                                    <td class="padding-top-td" style="width:25%;">
                                        <label class="control-label">Enviar por email:</label>
                                        <input type="checkbox" id="chk_SendMail" name="chk_SendMail" style="width:16px; height:14px;" />
                                    </td>
                                    <td class="padding-top-td text-left">
                                        <input type="text" id="txt_SendMail" class="col-md-3 input-xs form-control text-left" />
                                    </td>
                                    <td class="padding-top-td"></td>
                                    <td class="padding-top-td"></td>

                                </tr>
                                <tr>
                                    <td class="padding-top-td" style="width:25%;">
                                        <label class="control-label">Punto de Atención:</label>
                                    </td>
                                    <td class="padding-top-td text-left" style="width:30%;">
                                        <select class="form-control input-xs text-left" id="ddlCACDAC">
                                            <option>-- Seleccionar --</option>
                                        </select>
                                    </td>
                                    <td class="padding-top-td"><label></label></td>
                                    <td class="padding-top-td"></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <center>
                    <form class="form-inline ">
                        <div class="form-group">
                            <button class="btn transaction-button btn-sm" id="btnSave" type="button"><span class="glyphicon glyphicon-floppy-disk">&nbsp;</span>Guardar</button>
                        </div>

                        <div class="form-group" id="loo">
                            <button class="btn transaction-button btn-sm" id="btnConstancia" type="button"><span class="glyphicon glyphicon-file">&nbsp;</span>Constancia</button>
                        </div>
                        <div class="form-group">
                            <button class="btn transaction-button btn-sm" id="btnClose" type="button"><span class="glyphicon glyphicon-remove">&nbsp;</span>Cerrar</button>
                        </div>
                    </form>
                </center>
            </div>

            



        </div>

        <div id="ModalLoading" style="display: none;">
            <span>
                <img src="~/Images/loading2.gif" width="25" height="25" /> Cargando ....
            </span>
        </div>


    </div>
</div>


<style>
    .modal-open {
        overflow: scroll;
    }
</style>

<script>
    var tbConfigurationIP;
</script>


<script src="~/Areas/Transactions/ContentTransac/lib/steps.js"></script>
<script src="~/Areas/Transactions/Scripts/ReadRecordPdf/ReadRecord.js"></script>
<script src="~/Areas/Transactions/Scripts/ConfigurationIP/HFCConfigurationIP.js"></script>
@*@Scripts.Render("~/bundles/Transactions/ConfigurationIP/HFCConfigurationIP")*@
 